@charset "UTF-8";

@font-face {
    font-family: retro;
    src: url(Fontes/Retro.ttf);
}

@font-face {
    font-family: monospace;
    src: url(Fontes/Monospace.ttf);
}

:root {
    --cor0:#A8F5FF;
    --cor1:#B0CAFB;
    --cor2:#36CFFB;
    --cor3:#007BB6;
}

body {
    background-color: #9ff4ff
}

header{
    background-color: #a3c3ec;
    border: 1px solid black;
    box-shadow: 3px 3px 3px gray;
    margin: 10px;
    max-width: 100%;
    min-width: 300px;
}

header h1 {
    color: rgb(94, 94, 253);
    font-family: monospace;
    font-size: 35px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

header p {
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

header a {
    text-decoration: none;
}

header li {
    color: var(--cor3);
    display: inline;
    list-style: none;
    padding: 5px;
    text-align: left;
}

header li:hover {
    background-color: #007BB6;
    border-radius: 8px;
    color: #36CFFB;
    transition-duration: 1s;
}

main {
    background-color: white;
    border: 1px solid black;
    margin: auto;
    max-width: 800px;
    min-width: 300px;
    padding: 15px;
}

main h2 {
    font-family: retro;
    font-size: 30px;
}

main img {
    display: block;
    margin: auto;
    max-width: 500px;
    min-width: 300px;
}

div.iframe {
    background-color: var(--cor3);
    border: 1px solid black;
    margin: auto;
    padding: 20px;
    text-align: center;
    max-width: 790px;
    min-width: 300px;
}

footer {
    background-color: blue;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    display: block;
    padding: 0%;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #36CFFB;
}

footer a:active {
    color: #000000;
}