@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(idroid.otf);
}

body {
    background-color: rgb(187, 250, 187);
}

header {
    background-image: linear-gradient(to bottom, #3BD47F, #1A5C38);
    color: white;
    text-align: center;
    padding: 5px;
    box-shadow: 5px 5px 5px gray;
    margin: 3px;
}

header h1 {
    text-shadow: 3px 3px 3px black;
}

header > p {
    text-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    margin: 3px;
    text-align: left;
    text-indent: 0px;
}

nav ul a li {
    color: rgb(144, 241, 144);
    display: inline;
    padding: 7px;
}

nav a {
    text-decoration: none;
}

nav > ul > a > li:hover {
    color: green;
    background-color: rgb(144, 241, 144);
    border-radius: 5px;
    transition-duration: 1s;
}

main {
    background-color: white;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    min-width: 320px;
    max-width: 800px;
    box-shadow: 0px 0px 10px black;
}

main h1 {
    font-family: idroid;
    color: #1A5C38;
}

main h2 {
    font-family: idroid;
    background-image: linear-gradient(to right, rgb(130, 255, 130), white);
    color: green;
}

main p {
    text-indent: 30px;
    margin: 15px 0px;
    
}

main img {
    width: 100%;
}

main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

div.video {
    background-color: #1A5C38;
    margin: 0px -10px 30px -10px;
    padding: 20px;
    position: relative;
    padding-bottom: 73%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #5bf4a0;
    border-radius: 10px;
    padding: 10px;
    margin: 30px 10px 10px 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.158);
}

aside > h3 {
    color: white;
    background-color: #1A5C38;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    columns: 2;
    list-style: '\🗸\00A0\00A0';
}

aside > p > a {
    background-color: rgb(0, 255, 68);
    color: black;
    text-decoration: none;
}

aside > p > a:hover {
    text-decoration: underline;
}

footer {
    color: white;
    background-color: #1A5C38;
    padding: 0%;
    text-align: center;
}

footer > a {
    color: white;
    text-decoration: none;
}

footer > a:hover {
    color: #3BD47F;
    text-decoration: underline;
}

footer > a:active {
    color: black; 
}